[Unit]
Description=Wipd on %I

[Service]
ExecStart=/usr/bin/bash -c "exec wipd %I"
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
